.blog-list-item {
  position: relative;
  /* -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

.blog-list-item:before,
.blog-list-item:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0px;
  bottom: 30px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.blog-list-item:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.blog-list-item p {
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 2px solid black; */
}
.blog-list-content{
  padding: 20px;
}
.related-blog{
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.add-comment{
  padding-bottom: 30px;
}
#comments {
  margin-top: 30px; }
  #comments .media-list {
    padding-left: 0;
  }
  #comments .media-left {
    padding-right: 10px;
  }
  #comments img {
    width: 64px;
    height: 64px; }
  #comments .media {
    margin-top: 20px; }
    #comments .media .media-body .comment {
      line-height: 1.6em;
      font-size: 12px; }
  #comments .post-data {
    font-size: 12px;
    color: #e2839b; }
  #comments .post-date {
    line-height: 1em; }
  #comments .post-author {
    font-family: "Exo 2", sans-serif;
    font-style: oblique; }
    #comments .post-author a {
      font-size: 18px; }
    #comments .comments-list{
      margin-top: 1rem;
      margin-bottom: 1rem;
      /* border: 0; */
      /* box-shadow: 0 8px 6px -6px black; */
      /* border-bottom: 1px solid rgba(0,0,0,.1); */
       -webkit-box-shadow: 0 8px 6px -6px #777;
       -moz-box-shadow: 0 8px 6px -6px #777;
       box-shadow: 0 8px 6px -6px #777;
       
      
    }
@media (max-width: 600px) {
  .media-body, .media-left, .media-right {
    display: initial; } }

